.body {
  display: flex;
  flex-direction: row;
}
.test {
  width: 200px;
  padding: 30px;
  margin: 100px;
}
.over {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.enter {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.child {
  width: 100px;
  height: 100px;
  background-color: blue;
}
